<!DOCTYPE html>
<html>
<head>
  <title>Thats A Tall Order</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<div class="content">
			<div id="nav">
				<div class="bridge"></div>
				<div class="bridge"></div>
				<div class="bridge"></div>
				<div class="bridge"></div>
				<%= render :partial => 'nav' %>
			</div>
			<div id="header">
				<h1>
					Thats a Tall Order
				</h1>
			</div>
			<div class="clear_divs"></div>
		</div>
	</header>
	<div class="content">
		<div class="content_body">
			<%= yield %>
		</div>
	</div>
	<footer class="footer">
		<div class="content">
			<p>
				<%= render :partial => 'nav' %>
			</p>
		</div>
	</footer>
</body>
</html>